.index {
    padding-top: 30px;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

a:hover {
    color: whitesmoke;
}

h2 {
    padding: 20px;
    list-style-type: none;
    width: fit-content;
    margin: auto;
    border-radius: 30px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

h2:hover {
    background-color: rgb(21, 24, 28);
    transition: color 100ms ease-out;
}