.notfound {
    text-align: center;
    margin: auto;
    height: fit-content;
    width: fit-content;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
}

#title {
    font-size: 125px;
}

#text {
    margin: 0;
    padding: 0;
}

.notfound>p {
    margin: 50px;
}